<div class="sidebar-container h-100 bg-white position-fixed" style="left: 0; top: 0">
  <div>LOGO</div>
  <div class="d-flex justify-content-between">
    <h2>Категории</h2>
    <button class="btn text-lg-center" (click)="closeSidebar()">x</button>
  </div>
  <div class="category-list">
    <div class="category" *ngFor="let category of categoriesList | async">
      <button class="btn">
<!--        {{ category.id }}-->
        {{ category.name }}
      </button>
<!--      <button class="btn">+ (add child category)</button>-->
    </div>
  </div>
</div>
