<div class="header-panel d-flex justify-content-between mb-3">
  <button class="btn" (click)="showSidebar = !showSidebar">Открыть сайдбар</button>
  <button type="button" class="btn btn-primary" (click)="openModal(false)">Новая задача</button>
  <div class="user-panel relative">
    <div class="d-flex gap-2">
      <span>
        Хорошего дня,
        <a routerLink="/task-manager/user-page">{{ userName }}</a>
      </span>
      <button
        type="button"
        class="btn btn-info"
        (click)="isUserSettingsCollapsed = !isUserSettingsCollapsed"
      >
        <fa-icon icon="arrow-alt-circle-down" style="transform: rotate(180deg)"></fa-icon>
      </button>
    </div>
    <ul class="position-absolute list-unstyled" *ngIf="isUserSettingsCollapsed">
      <li><a href="#">Личное</a></li>
      <li><a href="#">Выйти</a></li>
    </ul>
  </div>
</div>
<div class="main-panel d-flex">
  <div class="tasks-container w-50">
    <h3>Ваши задачи</h3>
    <div class="tasks-list d-flex flex-column gap-3">
        <jhi-task-card *ngFor="let task of taskList | async" [task]="task"></jhi-task-card>
    </div>
  </div>
  <div class="d-flex justify-center align-content-center container w-50">
    <jhi-clock></jhi-clock>
  </div>
</div>

<jhi-sidebar *ngIf="showSidebar" (showSidebar)="closeSidebar($event)"></jhi-sidebar>
<jhi-task-modal-wrapper #modalWrapper>
  <jhi-new-task-modal>
    <ng-container *ngIf="subtask">
      <h3>Создать подзадачу от задачи</h3>
      <p>[task.title...]</p>
    </ng-container>
    <h3 *ngIf="!subtask">Создать задачу</h3>
  </jhi-new-task-modal>
</jhi-task-modal-wrapper>
