<div class="header-panel d-flex justify-content-between mb-3">
  <button class="btn" (click)="showSidebar = !showSidebar">Открыть сайдбар</button>
  <button type="button" class="btn btn-primary" (click)="openModal(false)">Новая задача</button>
  <div class="user-panel relative">
    <div class="d-flex gap-2">
      <span>
        Хорошего дня,
        <a routerLink="/user-page">[user]</a>
      </span>
      <button
        type="button"
        class="btn btn-info"
        (click)="isUserSettingsCollapsed = !isUserSettingsCollapsed"
      >
        <fa-icon icon="arrow-alt-circle-down" style="transform: rotate(180deg)"></fa-icon>
      </button>
    </div>
    <ul class="position-absolute list-unstyled" *ngIf="isUserSettingsCollapsed">
      <li><a href="#">Личное</a></li>
      <li><a href="#">Выйти</a></li>
    </ul>
  </div>
</div>
<div class="main-panel d-flex">
  <div class="tasks-container w-50">
    <h3>Ваши задачи</h3>
    <div class="tasks-list">
      <div class="task-card p-3" style="border: 3px solid #2b2f32;">
        <div class="task-header d-flex justify-content-between">
          <span>[datetime]</span>
          <p>[category_name]</p>
          <ul class="reactions-list list-unstyled d-flex">
            <li>:)</li>
            <li>:/</li>
            <li>:(</li>
          </ul>
        </div>
        <div class="task-body d-flex justify-content-between">
          <h3>[task title]</h3>
          <span>[task truncated content]</span>
        </div>
        <div class="task-footer">
          <button class="btn">Удалить задачу</button>
          <button class="btn">Отложить задачу</button>
          <button class="btn" (click)="openModal(true)">Создать подзадачу</button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-center align-content-center container w-50">
    <jhi-clock></jhi-clock>
  </div>
</div>

<jhi-sidebar *ngIf="showSidebar" (showSidebar)="closeSidebar($event)"></jhi-sidebar>
<jhi-task-modal-wrapper #modalWrapper>
  <jhi-new-task-modal>
    <ng-container *ngIf="subtask">
      <h3>Создать подзадачу от задачи</h3>
      <p>[task.title...]</p>
    </ng-container>
    <h3 *ngIf="!subtask">Создать задачу</h3>
  </jhi-new-task-modal>
</jhi-task-modal-wrapper>
