<div>
  <h2 id="page-heading" data-cy="TaskHeading">
    <span jhiTranslate="jhipsTestApp.task.home.title">Tasks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsTestApp.task.home.refreshListLabel">Обновить список</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-task"
        [routerLink]="['/task/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsTestApp.task.home.createLabel">Создать новый Task</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <!--  @if (tasks?.length === 0) {-->
  <!--    <div class="alert alert-warning" id="no-result">-->
  <!--      <span jhiTranslate="jhipsTestApp.task.home.notFound">Tasks не найдено</span>-->
  <!--    </div>-->
  <!--  }-->

  @if (tasks && tasks.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="jhipsTestApp.task.title">Title</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="content">
            <div class="d-flex">
              <span jhiTranslate="jhipsTestApp.task.content">Content</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="priorityId">
            <div class="d-flex">
              <span jhiTranslate="jhipsTestApp.task.priorityId">Priority Id</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statusId">
            <div class="d-flex">
              <span jhiTranslate="jhipsTestApp.task.statusId">Status Id</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startedAt">
            <div class="d-flex">
              <span jhiTranslate="jhipsTestApp.task.startedAt">Started At</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="finishedAt">
            <div class="d-flex">
              <span jhiTranslate="jhipsTestApp.task.finishedAt">Finished At</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="owner.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsTestApp.task.owner">Owner</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="category.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsTestApp.task.category">Category</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tags.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsTestApp.task.tags">Tags</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          @for (task of tasks; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/task', task.id, 'view']">{{ task.id }}</a>
              </td>
              <td>{{ task.title }}</td>
              <td>{{ task.content }}</td>
              <td>{{ task.priorityId }}</td>
              <td>{{ task.statusId }}</td>
              <td>{{ task.startedAt | formatMediumDate }}</td>
              <td>{{ task.finishedAt | formatMediumDate }}</td>
              <td>
                {{ task.owner?.id }}
              </td>
              <td>
                @if (task.category) {
                  <div>
                    <a [routerLink]="['/category', task.category.id, 'view']">{{ task.category.id }}</a>
                  </div>
                }
              </td>
              <td>
                @for (tags of task.tags; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/tag', tags.id, 'view']">{{ tags.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/task', task.id, 'view']" class="btn btn-info btn-sm"
                     data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Просмотр</span>
                  </a>

                  <a [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary btn-sm"
                     data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Изменить</span>
                  </a>

                  <button type="submit" (click)="delete(task)" class="btn btn-danger btn-sm"
                          data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Удалить</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>

<div class="header-panel d-flex justify-content-between mb-3">
  <button class="btn" (click)="showSidebar = !showSidebar">Открыть сайдбар</button>
  <button type="button" class="btn btn-primary" (click)="create()">Новая задача</button>
  <div class="user-panel relative">
    <div class="d-flex gap-2">
      <span>
        Хорошего дня,
        <a routerLink="/task-manager/user-page">{{ userName }}</a>
      </span>
      <button
        type="button"
        class="btn btn-info"
        (click)="isUserSettingsCollapsed = !isUserSettingsCollapsed"
      >
        <fa-icon icon="arrow-alt-down" style="transform: rotate(180deg)"></fa-icon>
      </button>
    </div>
    <ul class="position-absolute list-unstyled" *ngIf="isUserSettingsCollapsed">
      <li><a href="#">Личное</a></li>
      <li><a href="#">Выйти</a></li>
    </ul>
  </div>
</div>
<div class="main-panel d-flex">
  <div class="tasks-container w-50">
    @if (!tasks || tasks.length < 1) {
      <div class="alert alert-warning" id="no-result">
        <span jhiTranslate="jhipsTestApp.task.home.notFound"></span>
      </div>
    }

    @if (tasks && tasks.length > 0) {
      <div class="d-flex justify-content-between">
        <h3>Ваши задачи</h3>
        <div class="d-flex">
          <button class="btn">Фильтровать по \/</button>
          <button class="btn">Сортировать по \/</button>
        </div>
      </div>
      <div class="tasks-list d-flex flex-column gap-3">
        <div *ngFor="let task of tasks" class="task-card p-3" style="border: 3px solid #2b2f32;">
          <div class="task-header d-flex justify-content-between">
            <span>
              @if (task.startedAt) {
                с {{ task.startedAt | formatMediumDate }}
              }
              @if (task.finishedAt) {
                по {{ task.finishedAt | formatMediumDate }}
              }
            </span>
            <p>{{ task.category | json }}</p>
            @for (tag of task.tags; track $index; let last = $last) {
              <button class="btn b--dark-blue">{{ tag.name }}</button>
            }
            <ul class="reactions-list list-unstyled d-flex gap-2">
              <li>
                <button class="btn" style="background-color: #28a745">:)</button>
              </li>
              <li>
                <button class="btn btn-info" style="background-color: #ffc107">:/</button>
              </li>
              <li>
                <button class="btn btn-info" style="background-color: #dc3545">:(</button>
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-between">
            <div class="task-body justify-content-between">
              <a [routerLink]="['/task', task.id, 'view']" class="text-lg-center">{{ task.title }}</a>
              @if (task.content) {
                <p>{{ task.content.length > 20 ? task.content.substring(0, 20) + '...' : task.content }}</p>
              }
            </div>
            <ul class="list-unstyled">
              <li>Приоритет:
                {{
                  (task.priorityId! >= 0) ? PriorityEnum[task.priorityId!]
                    :
                    'неопределен'
                }}
              </li>
              <li>
                Статус:
                {{
                  (task.statusId! >= 0) ? StatusEnum[task.statusId!]
                    :
                    'неопределен'
                }}
              </li>
            </ul>
          </div>
          <div class="task-footer">
            <button class="btn" (click)="delete(task)">Удалить задачу</button>
            <button class="btn" (click)="postpone(task)">Отложить задачу</button>
            <!--          <button class="btn" (click)="openModal(true)">Создать подзадачу</button>-->
          </div>
        </div>
      </div>
    }
  </div>


  <div class="d-flex justify-center align-content-center container w-50">
    <jhi-clock></jhi-clock>
  </div>
</div>

<jhi-sidebar *ngIf="showSidebar" (showSidebar)="closeSidebar($event)"></jhi-sidebar>
