<div *ngIf="!parentData" class="d-flex justify-content-between mb-3">
  <button class="btn" (click)="showSidebar = !showSidebar">Открыть сайдбар</button>
  <button type="button" class="btn btn-primary" (click)="create()">Новая задача</button>
  <div class="col-auto">
    <br/>
    <div ngbDropdown>
      <button class="btn btn-warning" id="gfg" ngbDropdownToggle>
        Хорошего дня, {{ login }}
      </button>
      <div ngbDropdownMenu="gfg">
        <a [routerLink]="['/task/public']" ngbDropdownItem>Личный кабинет</a>
        <a [routerLink]="['/']" ngbDropdownItem>В меню</a>
      </div>
    </div>
  </div>
</div>
<div class="main-panel d-flex">
  <div class="tasks-container w-100">
    @if (!tasks || tasks.length < 1) {
      <div class="alert alert-warning" id="no-result">
        <span jhiTranslate="jhipsTestApp.task.home.notFound"></span>
      </div>
    }

    @if (tasks && tasks.length > 0) {
      <div class="d-flex justify-content-between mt-3">
        <h3 *ngIf="!parentData">Ваши задачи</h3>
        <h3 *ngIf="parentData">Задачи</h3>
        <div class="col-auto">
          <br/>
          <div ngbDropdown>
            <button class="btn btn-info" id="sortItems" jhiTranslate="taskm.sort.title" ngbDropdownToggle>
              Сортировать по
            </button>
            <div jhiSort [(predicate)]="predicate" [(ascending)]="ascending"
                 (sortChange)="navigateToWithComponentValues()" ngbDropdownMenu="sortItems">
              <div scope="col" jhiSortBy="title" class="d-flex">
                <span jhiTranslate="jhipsTestApp.task.title">Заголовок</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
              <div scope="col" jhiSortBy="content" class="d-flex">
                <span jhiTranslate="jhipsTestApp.task.content">Контент</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
              <div scope="col" jhiSortBy="startedAt" class="d-flex">
                <span jhiTranslate="jhipsTestApp.task.startedAt">Дата начала</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>

              <div scope="col" jhiSortBy="finishedAt" class="d-flex">
                <span jhiTranslate="jhipsTestApp.task.finishedAt">Дата завершения</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>

            </div>
          </div>
        </div>
        <form (ngSubmit)="applyFilter({filterName: 'title.contains', value: searchControl.value})"
              class="d-flex form-control" style="width: 400px; height: 60px">
          <input #searchControl type="text" placeholder="Название задачи" class="form-control border-0">
          <button type="submit" class="btn btn-primary">Искать</button>
        </form>
      </div>
      <div class="tasks-list d-flex flex-column gap-3 mt-2">
        @for (task of tasks; track trackId) {

          <div class="task-card p-3" style="border: 3px solid #2b2f32;">
            <div class="task-header d-flex justify-content-between">
            <span>
              @if (task.startedAt) {
                с {{ task.startedAt | formatMediumDate }}
              }
              @if (task.finishedAt) {
                по {{ task.finishedAt | formatMediumDate }}
              }
            </span>
              <div>
                @if (task.category) {
                  <span>{{ task.category.name }}</span>
                }
              </div>
              <div>
                @for (tag of task.tags; track $index; let last = $last) {
                  <a [routerLink]="['/tag']" class="btn b--dark-blue">{{ tag.name }}</a>
                }
              </div>


            </div>
            <div class="d-flex justify-content-between">
              <div class="task-body justify-content-between">
                <a [routerLink]="['/task', task.id, 'view']" class="text-lg-center">{{ task.title }}</a>
                @if (task.content) {
                  <p>{{ task.content.length > 20 ? task.content.substring(0, 20) + '...' : task.content }}</p>
                }
              </div>
              <ul class="list-unstyled">
                <li *ngIf="task.statusId">
                  <span jhiTranslate="taskm.status.title">Статус</span>:
                  <span [jhiTranslate]="'taskm.status.' + StatusEnum[task.statusId!]">
                    {{
                      (task.statusId! >= 0) ? StatusEnum[task.statusId!]
                        :
                        'неопределен'
                    }}
                  </span>
                </li>
                <li *ngIf="task.priorityId">
                  <span jhiTranslate="taskm.priority.title">Приоритет</span>:
                  <span [jhiTranslate]="'taskm.priority.' + PriorityEnum[task.statusId!]">
                    {{
                      (task.priorityId! >= 0) ? PriorityEnum[task.priorityId!]
                        :
                        'неопределен'
                    }}
                  </span>
                </li>
              </ul>
            </div>
            <div class="task-footer" *ngIf="!parentData">
              <button class="btn" (click)="delete(task)">Удалить задачу</button>
              <button class="btn" (click)="postpone(task)">Отложить задачу</button>
            </div>
          </div>
        }
      </div>
    }
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          (pageChange)="navigateToPage($event)"
          [boundaryLinks]="true"
          [collectionSize]="totalItems"
          [maxSize]="5"
          [pageSize]="itemsPerPage"
          [page]="page"
          [rotate]="true"
        ></ngb-pagination>
      </div>
    </div>
  </div>


  <div class="d-flex justify-center align-content-center container w-50">
    <jhi-clock></jhi-clock>
  </div>
</div>

<jhi-sidebar (filters)="applyFilter($event)" (showSidebar)="closeSidebar($event)" *ngIf="showSidebar"></jhi-sidebar>
