<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (task) {
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <h2 data-cy="taskDetailsHeading"><span>{{ task.title }}</span></h2>
          <p>Пост пользователя {{ task.owner?.login }}</p>
        </div>


        <div class="">
          <div class="d-flex justify-content-between align-items-center">
            @if (task.category) {
              <div>
                <span>{{ task.category.name }}</span>
              </div>
            }
            @if (task.tags!.length > 0) {
              <span jhiTranslate="jhipsTestApp.task.tags">Tags</span>
              @for (tags of task.tags; track $index; let last = $last) {
                <span>
                  <a [routerLink]="['/tag', tags.id, 'view']">{{ tags.id }}</a
                  >{{ last ? '' : ', ' }}
                </span>
              }
            }
          </div>
          <hr />

          <p class="jh-card" [innerHTML]="[task.content]"></p>
        </div>


        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Назад</span>
        </button>

        <div *ngIf="(owner$ | async) as owner">
          @if (task.owner?.login !== owner.login) {
            <button type="button" [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary">
              <fa-icon icon="pencil-alt"></fa-icon><span jhiTranslate="entity.action.edit">Изменить</span>
            </button>
          }
        </div>

      </div>
    }
  </div>
</div>
