<div class="sidebar-container h-100 bg-white position-fixed" style="left: 0; top: 0">
  <div class="d-flex justify-content-between">
    <h2>Категории</h2>
    <button class="btn text-lg-center" (click)="closeSidebar()">x</button>
  </div>
  <div class="category-list">
    @for (category of categoriesList; track trackId) {
      <div class="category">
        <button class="btn" (click)="applyCategoryFilter(category.id)">
          <b>{{ category.name }}</b>
        </button>
      </div>
    }

    <a [routerLink]="['/category']" class="btn btn-danger">Управлять категориями</a>
  </div>
</div>
