<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-task-heading" data-cy="TaskCreateUpdateHeading" jhiTranslate="jhipsTestApp.task.home.createOrEditLabel">
        Создать или отредактировать Task
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsTestApp.task.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jhipsTestApp.task.content" for="field_content">Content</label>
          <textarea class="form-control" name="content" id="field_content" data-cy="content" formControlName="content"></textarea>
        </div>


        <div class="mb-3">
          <label jhiTranslate="jhipsTestApp.task.category" for="field_tags">Категория</label>
          <select
            class="form-control"
            id="field_category"
            data-cy="category"
            multiple
            name="category"
            formControlName="category"
            [compareWith]="compareCategory"
          >
            @for (categoryOption of categoriesSharedCollection; track $index) {
              <option [ngValue]="categoryOption">{{ categoryOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label jhiTranslate="jhipsTestApp.task.tags" for="field_tags">Tags</label>
          <select
            class="form-control"
            id="field_tags"
            data-cy="tags"
            multiple
            name="tags"
            formControlName="tags"
            [compareWith]="compareTag"
          >
            @for (tagOption of tagsSharedCollection; track $index) {
              <option [ngValue]="tagOption">{{ tagOption.name }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Отмена</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Сохранить</span>
        </button>
      </div>
    </form>
  </div>
</div>
