<form role="form" [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
  <div class="card-header">
    <ng-content></ng-content>
  </div>
  <div class="form-control">
    <label class="form-label" for="title">Название задачи</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      formControlName="title"
    >
  </div>
  <div class="form-control">
    <label class="form-label" for="content">Описание задачи</label>
    <textarea
      class="form-control"
      type="text"
      id="content"
      name="content"
      formControlName="content"
    ></textarea>
  </div>
  <div class="form-control">
    <label class="form-label" for="priority_id">Приоритет</label>
    <select
      class="form-select"
      id="priority_id"
      name="priority_id"
      formControlName="priority_id"
    >
      <option value="1">Низкий</option>
      <option value="2">Обычный</option>
      <option value="3">Высокий</option>
    </select>
  </div>
  <div class="form-control">
    <label class="form-label" for="category_id">Категория</label>
    <select
      class="form-select"
      id="category_id"
      name="category_id"
      formControlName="category_id"
    >
      <option value="1">Низкий</option>
      <option value="2">Обычный</option>
      <option value="3">Высокий</option>
    </select>
  </div>
  <div class="form-control">
    <label class="form-label" for="category_id">Тег</label>
    <select
      class="form-select"
      id="tag_id"
      name="tag_id"
      formControlName="tag_id"
    >
      <option value="1">entertainment</option>
      <option value="2">work work work</option>
      <option value="3">new</option>
    </select>
  </div>
  <button
    type="submit"
    class="btn btn-primary mt-2"
    [disabled]="newTaskForm.valid"
  >
    Создать
  </button>
</form>
